*{
  padding: 0;
  margin: 0;

}
body{
  background-color: #27AE60;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

#quote-box{
  border-radius: 3px;
  position: relative;
  margin:25% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  background-color: #fff;}

#text span{
  font-size: 30px;
  color: #27AE60 ;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: center;
  
}
#author span{
  float:right;
  margin-bottom: 25px;
  padding: 5px 10px;
  color:#27AE60;
  font-size: 20px;
  font-weight: 400;
}

#new-quote {
  float: right;
  padding: 5px 10px;
  color:white;
  background-color: #27AE60;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}
#tweet-quote{
  float: left;
  padding: 5px 10px;
  color:white;
  background-color: #27AE60;
  border-radius: 3px;
  cursor: pointer;
}